<h2>Por Pais</h2>
<hr />
<div class="row">
  <div class="col animate__animated animate__zoomIn">
    <app-pais-input (onEnter)="buscar($event)" (onDebounce)="obtenerSugerencia($event)"></app-pais-input>
    <ul class="list-group" *ngIf="haySugerencias">
      <li class="list-group-item list-group-item-action" *ngFor="let pais of paisesSugeridos" (click)="rellenar(pais)">
        <a [routerLink]="['/pais/',pais.alpha2Code]">{{pais.name}}</a>
      </li>
      <li class="list-group-item list-group-item-action" (click)="clickearMiSugerido(termino)">
        <a>Buscar: {{termino}}</a>
      </li>
    </ul>
  </div>
</div>
<hr />

<div class="alert alert-danger" *ngIf="hayError">No existen resultados</div>

<div class="row" *ngIf="!hayError">
  <div class="col">
    <app-pais-tabla [paisesEncontrados]="paisesEncontrados"></app-pais-tabla>
  </div>
</div>