<div *ngIf="!pais; else divPais" class="alert alert-info">Cargando ...</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        Pais: <small>{{ pais.name }}</small>
      </h1>
      <img [src]="pais.flag" alt="" class="img-thumbnail" />
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Codigo</strong> - {{ pais.alpha2Code }}
        </li>
        <li class="list-group-item">
          <strong>Capital</strong> - {{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Población</strong> - {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          Lenguajes:
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let lenguaje of pais.languages">
              {{ lenguaje.name }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
